<form class="form">
  <div class="form-group">
    <label class="form-control-label">Nazwa użytkownika</label>
    <input type="text" ng-model="username">
  </div>
  <div class="form-group">
    <label class="form-control-label">Hasło</label>
    <input type="password" ng-model="password">
  </div>
  <button class="btn btn-primary" ng-click="login()">Zaloguj</button>
</form>